.body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.button {
    background-color: #3947E4;
    border: none;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
}

#bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}